body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: 60vh;
    width: 30vw;
    outline: 1px solid;

    display: grid;
}

.grid-container > div {
    height: 100%;
    width: 100%;
    /*outline: 1px solid;*/
    transition: 0.2s;

}

.buttons{
    padding-top: 20px;
}